<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud Storage App</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2>Cloud Storage Application</h2>
    <div id="userForms">
        <!-- Initially hidden Signup Form -->
        <div id="signupForm" style="display:none;">
            <h3>Signup</h3>
            <input type="text" id="signupUsername" placeholder="Username" class="form-control"><br>
            <input type="email" id="signupEmail" placeholder="Email" class="form-control"><br>
            <input type="password" id="signupPassword" placeholder="Password" class="form-control"><br>
            <button onclick="signup()" class="btn btn-primary">Submit</button>
            <button onclick="showSigninForm()" class="btn btn-link">Login</button>
        </div>

        <!-- Initially displayed Signin Form -->
        <div id="signinForm">
            <h3>Signin</h3>
            <input type="text" id="signinUsername" placeholder="Username" class="form-control"><br>
            <input type="password" id="signinPassword" placeholder="Password" class="form-control"><br>
            <button onclick="signin()" class="btn btn-primary">Submit</button>
            <button onclick="showSignupForm()" class="btn btn-link">Signup</button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
